//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			app
	@project 	hapi-vue-boilerplate
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		February 16th 2018, 11:02:27 am
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


div(:class="$css.component")
	h1 App
